# DSCI 100 Group Project Proposal: Bank Marketing Classification

### Introduction

#### Reading the Data

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [20]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip"

download.file(url, "bank.zip")
unzip("bank.zip")

bank_data <- read_delim("bank-full.csv", delim = ";")
head(bank_data)

Rows: 45211 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (10): job, marital, education, default, housing, loan, contact, month, p...
dbl  (7): age, balance, day, duration, campaign, pdays, previous

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age job          marital education default balance housing loan contact day
1 58  management   married tertiary  no      2143    yes     no   unknown 5
2 44  technician   single  secondary no        29    yes     no   unknown 5
3 33  entrepreneur married secondary no         2    yes     yes  unknown 5
4 47  blue-collar  married unknown   no      1506    yes     no   unknown 5
5 33  unknown      single  unknown   no         1    no      no   unknown 5
6 35  management   married tertiary  no       231    yes     no   unknown 5
  month duration campaign pdays previous poutcome y
1 may   261      1        -1    0        unknown  no
2 may   151      1        -1    0        unknown  no
3 may    76      1        -1    0        unknown  no
4 may    92      1        -1    0        unknown  no
5 may   198      1        -1    0        unknown  no
6 may   139      1        -1    0        unknown  no

*Table 1: Bank Marketing Dataset from the Web*